<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        #error{
            text-align: center;
            color: #c5565e;
        }
        h1{
            text-align: center;
        }
        #main{
            /* box-shadow: 5px 5px 2px #888888; */
            border: 1px solid #999;
            padding: 50px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/wolves/new"><h1>Create Wolf!</h1></a>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" id='main'>
                <form action="/wolves" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <select class="form-control" id="color" name="color">
                                <option>White</option>
                                <option>Gray</option>
                                <option>Black</option>
                                <option>Tan</option>
                                <option>White/Gray</option>
                                <option>White/Black</option>
                                <option>Black/Gray</option>
                                <option>Red...?</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="eyes">Eye Color</label>
                        <select class="form-control" id="eyes" name="eyes">
                                <option>White</option>
                                <option>Blue</option>
                                <option>Black</option>
                                <option>Brown</option>
                                <option>Green</option>
                                <option>Yellow</option>
                                <option>One Blue One Gray</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary pull-right" value="Add Wolf">
                </form>

            </div>
            <div class="col-md-4"></div>            
        </div>
        <br>

        <br>
        <div class="row">
            <div class="col-md-12" id="error">
                <% if(typeof(errors) != 'undefined' ) { %>
                    <% for (let x in errors) { %>
                    <p><%= errors[x].message %></p>
                    <% } %>
                <% } %>
                <a href="/">Home</a>
            </div>
        </div>
    </div>
</body>
</html>